.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em 1em;
    margin-bottom: 2em;
    width: 250px;
    height: 420px;
    border-radius: 1em;
    border: 1px solid rgba(255, 0, 234, 0.418);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    
}
.title {
    display: flex;
    justify-content: start;
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.resumo{
    font-size: small;
    margin: 2px 0px;
}
.valor{
    font-size: large;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.link_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    width: 100px;
    height: 40px;
    background-color: rgb(125, 0, 150);
    border-radius: 20px;
    font-weight: 700;
    color: #fff;
}